body
  background-color: #fff

.container
  display: block
  margin: 0 auto
  width: 100%
  max-width: 1200px


=keyframes($animation-name)
  @-webkit-keyframes #{$animation-name}
    @content

  @-moz-keyframes #{$animation-name}
    @content

  @keyframes #{$animation-name}
    @content

=animation($str)
  -webkit-animation: #{$str}

// animation
+keyframes(slide-up)
  0%
    +transform(translate(-352px, 0))
  100%
    +transform(translate(0, 0))


+keyframes(bg-up)
  0%
    background: rgba(0, 0, 0, 0)
  100%
    background: rgba(0, 0, 0, 0.6)


.other
  @extend .container
  &__title
    @extend .BaseMONO
    display: block
    text-align: center
    text-transform: uppercase
    color: $color-red
    margin-bottom: 40px
  &__list
    @extend .grid-g
    @extend .-padding-x-25
  &__col
    @extend .col-1-3
    @extend .padding-x-25
