<div class="top-panel">

    <a ui-sref="home" class="top-panel__logo">
        <img src="../static/images/logo.png" alt="" />
    </a>

    <div class="top-panel__menu">
        <div ng-modal data-params="{'template': 'modal-sidebar.html'}" class="top-panel__toggle-sidebar"></div>
        <ul>
            <li  ng-repeat="item in categories"><a href="#{{item.id}}">{{item.name}}</a></li>
        </ul>
        <div ng-modal data-params="{'template': 'modal-search.html'}" class="top-panel__toggle-search"></div>
    </div>

    <div class="pre">
        <code>{{ categories }}</code>
    </div>

</div>
