<ng-top-panel></ng-top-panel>

<div class="container">
    <ng-menu-main></ng-menu-main>
</div>

<h1>Home</h1>
<div ui-view>Only 1.bundle.js</div>
<div>
    <a href="#" class="g-btn">button</a>
</div>

<div class="line--type1">
    <div class="line--type1__col">
        <span>col</span>
    </div>
    <div class="line--type1__col">
        <span>col</span>
    </div>
    <div class="line--type1__col">
        <span>col</span>
    </div>
</div>

<div class="line--type2">
    <div class="line--type2__col">
        <span>col</span>
    </div>
    <div class="line--type2__col">
        <span>col</span>
    </div>
    <div class="line--type2__col">
        <span>col</span>
    </div>
    <div class="line--type2__col">
        <span>col</span>
    </div>
    <div class="line--type2__col">
        <span>col</span>
    </div>
    <div class="line--type2__col">
        <span>col</span>
    </div>
</div>

<div ng-bottom></div>
