<div class="top-panel">

    <a ui-sref="home" class="top-panel__logo">
        <img src="../static/images/logo.png" alt="" />
    </a>

    <div class="top-panel__menu">
        <div ng-modal data-params="{'template': 'test.html'}" class="top-panel__toggle-sidebar"></div>
        <ul>
            <li><a href="#">Средства</a></li>
            <li><a href="#">Тренды</a></li>
            <li><a href="#">Звезды</a></li>
            <li><a href="#">Тест-клуб</a></li>
            <li><a href="#">Здоровье</a></li>
            <li><a href="#">Салоны</a></li>
        </ul>
        <div ng-modal data-params="{'template': 'modal-search.html'}" class="top-panel__toggle-search"></div>
    </div>

</div>
