<ng-top-panel></ng-top-panel>

<div class="item--full">
    <div class="item__inner">
        <div class="item__picture">
            <img src="http://fakeimg.pl/1200x600/858c9b/ffffff/" alt="">
        </div>
        <div class="item__body">
            <a ui-sref="#" class="item__title"><h3>28 крутых мужских стрижек (покажите своему бойфренду)</h3></a>
        </div>
    </div>
</div>

<div class="other">
    <div class="other__list">
        <div class="other__col">
            <div class="item--simple">
                <a ui-sref="#" class="item__picture">
                    <img src="http://fakeimg.pl/340x340/1d1d1d/ffffff/" alt="">
                </a>
                <a class="item__section">материал из журнала</a>
                <a ui-sref="#" class="item__title">28 крутых мужских стрижек (покажите своему бойфренду)</a>
            </div>
        </div>
        <div class="other__col">
            <div class="item--simple">
                <a ui-sref="#" class="item__picture">
                    <img src="http://fakeimg.pl/340x340/1d1d1d/ffffff/" alt="">
                </a>
                <a class="item__section">материал из журнала</a>
                <a ui-sref="#" class="item__title">Как сочетать оттенок бровей с оттенком волос</a>
            </div>
        </div>
        <div class="other__col">
            <div class="item--simple">
                <a ui-sref="#" class="item__picture">
                    <img src="http://fakeimg.pl/340x340/1d1d1d/ffffff/" alt="">
                </a>
                <a class="item__section">материал из журнала</a>
                <a ui-sref="#" class="item__title">28 крутых мужских стрижек (покажите своему бойфренду)</a>
            </div>
        </div>
    </div>
</div>

<div class="item--banner">
    <div class="container">
        <div class="item--banner__inner">
            <img src="http://fakeimg.pl/950x250/dbd1cb/333333/" alt="">
        </div>
    </div>
</div>

<div class="container--sidebar-r">
    <div class="container__content">

        <div class="item--default">
            <div class="item__inner">
                <div class="item__picture">
                    <img src="http://fakeimg.pl/350x350/858c9b/ffffff/" alt="">
                </div>
                <div class="item__body">
                    <a class="item__section">материал из журнала</a>
                    <a ui-sref="#" class="item__title"><h3>28 крутых мужских стрижек (покажите своему бойфренду)</h3></a>
                    <span class="item__desc">Казалось бы — с мужчинами все предельно просто. Никакого макияжа и регулярной эпиляции: умылся, побрился </span>

                    <div class="item__info--line">
                        <span class="item__date">10 января 2016, </span>
                        <a ui-sref="#" class="item__name">Ксения Вагнер</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="item--default">
            <div class="item__inner">
                <div class="item__picture">
                    <img src="http://fakeimg.pl/350x500/858c9b/ffffff/" alt="">
                </div>
                <div class="item__body">
                    <a class="item__section">материал из журнала</a>
                    <a ui-sref="#" class="item__title"><h3>28 крутых мужских стрижек (покажите своему бойфренду)</h3></a>
                    <span class="item__desc">Казалось бы — с мужчинами все предельно просто. Никакого макияжа и регулярной эпиляции: умылся, побрился </span>

                    <div class="item__info--line">
                        <span class="item__date">10 января 2016, </span>
                        <a ui-sref="#" class="item__name">Ксения Вагнер</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item--medium">
            <div class="item__inner">
                <div class="item__picture">
                    <img src="http://fakeimg.pl/730x480/858c9b/ffffff/" alt="">
                </div>
                <div class="item__body">
                    <a class="item__section">материал из журнала</a>
                    <a ui-sref="#" class="item__title"><h3>28 крутых мужских стрижек (покажите своему бойфренду)</h3></a>
                    <span class="item__desc">Казалось бы — с мужчинами все предельно просто. Никакого макияжа и регулярной эпиляции: умылся, побрился </span>

                    <div class="item__info--line">
                        <span class="item__date">10 января 2016, </span>
                        <a ui-sref="#" class="item__name">Ксения Вагнер</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item--default">
            <div class="item__inner">
                <div class="item__picture">
                    <img src="http://fakeimg.pl/350x350/858c9b/ffffff/" alt="">
                </div>
                <div class="item__body">
                    <a class="item__section">материал из журнала</a>
                    <a ui-sref="#" class="item__title"><h3>28 крутых мужских стрижек (покажите своему бойфренду)</h3></a>
                    <span class="item__desc">Казалось бы — с мужчинами все предельно просто. Никакого макияжа и регулярной эпиляции: умылся, побрился </span>

                    <div class="item__info--line">
                        <span class="item__date">10 января 2016, </span>
                        <a ui-sref="#" class="item__name">Ксения Вагнер</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="container__sidebar">
        <a href="#" class="banner--for-sidebar">
            <img src="http://fakeimg.pl/300x600/a2becb/ffffff/" alt="">
        </a>
    </div>
</div>

<div class="item--full">
    <div class="item__inner">
        <div class="item__picture">
            <img src="http://fakeimg.pl/1200x600/858c9b/ffffff/" alt="">
        </div>
        <div class="item__body">
            <a ui-sref="#" class="item__title"><h3>28 крутых мужских стрижек (покажите своему бойфренду)</h3></a>
        </div>
    </div>
</div>

<div class="other">
    <h4 class="other__title">последние видео</h4>
    <div class="other__list">
        <div class="other__col">
            <div class="item--video-preview">
                <a ui-sref="#" class="item--video-preview__picture">
                    <img src="http://fakeimg.pl/300x200/1d1d1d/ffffff/" alt="">
                </a>
                <a ui-sref="#" class="item--video-preview__title">28 крутых мужских стрижек (покажите своему бойфренду)</a>
            </div>
        </div>
        <div class="other__col">
            <div class="item--video-preview">
                <a ui-sref="#" class="item--video-preview__picture">
                    <img src="http://fakeimg.pl/300x200/1d1d1d/ffffff/" alt="">
                </a>
                <a ui-sref="#" class="item--video-preview__title">Как сочетать оттенок бровей с оттенком волос</a>
            </div>
        </div>
        <div class="other__col">
            <div class="item--video-preview">
                <a ui-sref="#" class="item--video-preview__picture">
                    <img src="http://fakeimg.pl/300x200/1d1d1d/ffffff/" alt="">
                </a>
                <a ui-sref="#" class="item--video-preview__title">28 крутых мужских стрижек (покажите своему бойфренду)</a>
            </div>
        </div>
    </div>
</div>



<div class="container">

</div>
