<ng-top-panel></ng-top-panel>

<div class="item--default">
    <div class="item--default__inner">
        <div class="item__info">
            <a ui-sref="#" class="item__category">Тренды</a>
            <div class="item__author">
                <a ui-sref="#" class="item__avatar">
                    <div class="picture -circle">
                        <img src="http://fakeimg.pl/100x100/282828/eae0d0/" alt="">
                    </div>
                </a>
                <div class="item__date">10 января 2016</div>
                <div class="item__name">Ксения Вагнер</div>
            </div>
        </div>
        <div class="item--default__picture">
            <img src="http://fakeimg.pl/350x350/858c9b/ffffff/" alt="">
        </div>
        <div class="item--default__body">
            <a class="item__section">материал из журнала</a>
            <a ui-sref="#" class="item__title"><h3>28 крутых мужских стрижек (покажите своему бойфренду)</h3></a>
            <span class="item__desc">Казалось бы — с мужчинами все предельно просто. Никакого макияжа и регулярной эпиляции: умылся, побрился </span>
        </div>
    </div>
</div>

<div class="item--banner">
    <div class="container">
        <div class="item--banner__inner">
            <img src="http://fakeimg.pl/950x250/dbd1cb/333333/" alt="">
        </div>
    </div>
</div>

<div class="item--default">
    <div class="item--default__inner">
        <div class="item__info">
            <a ui-sref="#" class="item__category">Тренды</a>
            <div class="item__author">
                <a ui-sref="#" class="item__avatar">
                    <div class="picture -circle">
                        <img src="http://fakeimg.pl/100x100/282828/eae0d0/" alt="">
                    </div>
                </a>
                <div class="item__date">10 января 2016</div>
                <div class="item__name">Ксения Вагнер</div>
            </div>
        </div>
        <div class="item--default__picture">
            <img src="http://fakeimg.pl/350x450/858c9b/ffffff/" alt="">
        </div>
        <div class="item--default__body">
            <a ui-sref="#" class="item__title"><h3>28 крутых мужских стрижек (покажите своему бойфренду)</h3></a>
            <span class="item__desc">Казалось бы — с мужчинами все предельно просто. Никакого макияжа и регулярной эпиляции: умылся, побрился </span>
        </div>
    </div>
</div>


<div class="item--medium">
    <div class="item--medium__inner">
        <div class="item__info">
            <a ui-sref="#" class="item__category">Тренды</a>
            <div class="item__author">
                <a ui-sref="#" class="item__avatar">
                    <div class="picture -circle">
                        <img src="http://fakeimg.pl/100x100/282828/eae0d0/" alt="">
                    </div>
                </a>
                <div class="item__date">10 января 2016</div>
                <div class="item__name">Ксения Вагнер</div>
            </div>
        </div>
        <div class="item--medium__picture">
            <img src="http://fakeimg.pl/1000x400/858c9b/ffffff/" alt="">

            <div class="item--medium__body">
                <a ui-sref="#" class="item__title"><h3>28 крутых мужских стрижек (покажите своему бойфренду)</h3></a>
                <span class="item__desc">Казалось бы — с мужчинами все предельно просто. Никакого макияжа и регулярной эпиляции: умылся, побрился </span>
            </div>
        </div>
    </div>
</div>

<div class="item--full">
    <div class="item--full__inner">
        <div class="item--full__picture">
            <img src="http://fakeimg.pl/1200x600/858c9b/ffffff/" alt="">
        </div>
        <div class="item--full__body">
            <a ui-sref="#" class="item--full__title"><h3>28 крутых мужских стрижек (покажите своему бойфренду)</h3></a>
        </div>
    </div>
</div>

<div class="other">
    <h4 class="other__title">последние видео</h4>
    <div class="other__list">
        <div class="other__col">
            <div class="item--video-preview">
                <a ui-sref="#" class="item--video-preview__picture">
                    <img src="http://fakeimg.pl/300x200/1d1d1d/ffffff/" alt="">
                </a>
                <a ui-sref="#" class="item--video-preview__title">28 крутых мужских стрижек (покажите своему бойфренду)</a>
            </div>
        </div>
        <div class="other__col">
            <div class="item--video-preview">
                <a ui-sref="#" class="item--video-preview__picture">
                    <img src="http://fakeimg.pl/300x200/1d1d1d/ffffff/" alt="">
                </a>
                <a ui-sref="#" class="item--video-preview__title">Как сочетать оттенок бровей с оттенком волос</a>
            </div>
        </div>
        <div class="other__col">
            <div class="item--video-preview">
                <a ui-sref="#" class="item--video-preview__picture">
                    <img src="http://fakeimg.pl/300x200/1d1d1d/ffffff/" alt="">
                </a>
                <a ui-sref="#" class="item--video-preview__title">28 крутых мужских стрижек (покажите своему бойфренду)</a>
            </div>
        </div>
    </div>
</div>

<div class="container">

</div>
